@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .otto-button {
    @apply px-4 py-2 font-medium tracking-wide rounded-md shadow-sm disabled:cursor-not-allowed disabled:opacity-50;
  }

  .otto-button-primary {
    @apply text-white otto-bg-primary disabled:otto-bg-primary hover:otto-bg-primary-dark;
  }

  .otto-button-original {
    @apply border border-gray-400 text-black hover:bg-gray-100;
  }

  .otto-card {
    @apply shadow-lg bg-white rounded-lg;
  }

  .otto-link {
    @apply otto-primary font-bold hover:otto-primary-dark;
  }

  .otto-internal-link {
    @apply otto-primary font-bold hover:otto-primary-dark;
  }

  .otto-primary {
    color: #b9a31e;
  }

  .otto-primary-light {
    color: #ccba24;
  }

  .otto-primary-dark {
    color: #9a7d11;
  }

  .otto-bg-primary {
    background-color: #b9a31e;
  }

  .otto-bg-primary-light {
    background-color: #ccba24;
  }

  .otto-bg-primary-dark {
    background-color: #9a7d11;
  }

  .otto-border-primary {
    border-color: #ccba24;
  }

  .otto-label {
    @apply block text-sm font-medium leading-6 text-gray-900;
  }

  .otto-input {
    @apply block w-full rounded-md border-0 py-2 px-2 text-gray-900 bg-gray-100 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6;
  }

  .otto-checkbox {
    @apply otto-primary otto-border-primary w-5 h-5 hover:cursor-pointer checked:otto-bg-primary;
  }

  .otto-breadcrumb {
    @apply p-4 text-stone-800 flex gap-4 font-bold;
  }
}

:root {
  --foreground-rgb: 41, 37, 36;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Lucida Console", "Monaco", monospace;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
